$black:black;
$lightgrey:#f2f2f2;
$primary-blue:#1f77eb;
$white:white;
$body_background:rgb(249,247,249);
$primary_yellow:rgb(244,215,0);
$yellow:#F7D800;
$cont_background:rgba(150, 149, 149, 0.2);

$grey:#969595;

$blue:rgb(57,158,236);

$blue2:rgb(0,123,235);
$blue3:rgb(0,135,242); 



// COLORS
$color-primary: #239DEA;
$color-primary-dark-1:#0081E6;
$color-primary-dark-2:#0090EA;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #f2f2f2;

$color-grey-dark: rgb(150, 149, 149);
$color-grey-dark-2: #707070;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-yellow: #fdc500;
$color-yellow-light: #F7D800;

// FONT
$default-font-size: 1.6rem;

$red:#E43F6F;
$green: #57CC99;
$yellow:yellow;
$orange:#E9BA20;
$black:black;