*,*::after,*::before{
	margin:0;
	padding:0;
    box-sizing:border-box;
    direction: rtl !important; 
    font-family: Vazir; 
}

html{
	font-size:62.5%;
    direction: rtl; 
	
} 

body{
	box-sizing:border-box;
    direction: rtl;
    background-color: $body_background;
}
a{
    text-decoration: none !important;
}
a, button, .span.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus,.span.select2.select2-container.select2-container--default.select2-container--below.select2-container--open,.select2-selection.select2-selection--single{
    outline:none !important;
}

@media (min-width: 1200px){
.container {
    max-width: 1350px !important;
}
}