@font-face {
    font-family: Vazir;
    src: url('Vazir.woff');
    
    font-weight: normal;           
}
body{
    font-family: Vazir; 
}
.nav-pills .nav-link.maincontent__link{
    border-radius: 1rem;
    font-size: 1.8rem;
    
}
.nav-pills .nav-link.active{
    background-color: $yellow !important;
}